.flexWCCnt{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    
}

.flexWCIt{
    flex: 1 1;
    display: flex;
    max-width: 270px;
    min-width: 220px;
    margin: 0px auto;
}


.WkCont{
    margin: 15px auto;
    max-width: 310px;
    width: 240px;
    padding: 12px;
    cursor: pointer;
}

.Mobile_WeekContainer{
    overflow-y: scroll;
    height:100% ;
}

.WCbase{
    padding: 10px 0;
}