

.printcallout {
    background-color: var(--printcolor-error-light);
    color: var(--printcolor-error-text);
    
  }
  
  
  .printcallout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 0 10px;
    position: relative;
    margin: 0 0 24px;
    min-height: 48px;
  }
  
  .printcallout .printcallout-body  {
    display: flex;
  }
  
  
  .printcallout .printcallout-body .printcallout-message {
    margin-right: 24px;
    padding: 12px 0;
    white-space: normal;
    font: 500 14px/20px Roboto,"Roboto",sans-serif;
  }
  
  .printcallout .printcallout-body .printcallout-icon { 
    padding: 18px 12px 0;
  }
  .printcallout .printcallout-body .printcallout-icon.error { 
    padding: 10px 12px 0;
  }
  
  
  .printcallout .printcallout-body .printcallout-icon svg {
    fill: var(--printcolor-error-text);
  }
  
  .printcallout .printcallout-body .printcallout-icon img {
    height: 100px;
    width: 100px;
  }


  .center--Container .text2D {
    font: 600 15px/26px "Google Sans", Roboto, Arial, sans-serif;
    letter-spacing: 1.1px;
}


.center--Container .text2D.orangeFlex {
    color: var(--color-base--hover);    
}

.center--Container .text2D{
  text-decoration: none;   
}

.__save__btn a{
  text-decoration: none;
}


.center--Container .text2D.grayStyle {
    color: #727270;    
}

.center--Container .hoverDiv.fireRed {
  background-color: #ea4335;
}

.center--Container .text2D.fireRed {
  color: #ea4335;
}


._dialog_ingredient_edit._duplicateOrder{
  min-height: 275px;
}

[is-mobile="true"] .menu_items_Container.ViewDetails {
  height: calc(100vh - 200px);
  overflow: hidden;
  overflow-y: auto;
}

[is-mobile="true"] .header_title_group{
  padding: 10px 15px;

}




[is-mobile="true"]  .menu_items_Container .menu_items_.show .details img {
  height: 100px;
  width: 100px;
}


[is-mobile] .menu_items_.show .title_text{
  margin: 5px 0 0;
  justify-content:left;
  text-align: left;
  color: #3b3b3b;
}

[is-mobile] .menu_items_.show .price{
  justify-content:left;
  font: 500 14px/17px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}


