
._items_details_footer ._actions_ .btn_action._add2cart_{
    text-decoration: none;
}


[is-mobile="true"]._items_details_ .details{   
    padding: 10px 10px 5px 10px;
    min-height: 60px;
    width: calc( 100% - 20px);
    
    
}

[is-mobile="true"]._items_details_ .details img{
    width: 80px;
    height: 80px;
}

[is-mobile="true"]._items_details_ .details .spec .title_text{
    font: 600 21px/26px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #626266;
    transform: translate3d(15vw , 20px,0);
} 

[is-mobile="true"] ._items_details_footer {    
    padding: 15px;
    min-height: 25px;
    background: #fff;    
    width: calc( 100% - 30px );
    display: block;
}

[is-mobile="true"] ._items_details_footer ._total_{    
    font: 600 21px/26px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #626266;
    text-align: right;
    margin-bottom: 15px;
}


[is-mobile="true"]._items_details_ ._items_details_extras{
    min-height: calc( 100vh - 260px);
    max-height: calc( 100vh - 260px);
    padding: 15px 5px 15px 5px;
}


[is-mobile="true"] ._items_details_size ._items_details_size_wrapper {
    min-width: 125px;
}


[is-mobile="true"] ._items_details_size_wrapper h5{
    margin: 0;
    font: 600 17px/21px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}


[is-mobile="true"] ._items_details_size_wrapper img {
    width: 60px;
    height: 60px;
}


