
._items_details_footer ._actions_ .btn_action._add2cart_{
    text-decoration: none;
}


[is-mobile="true"]._items_details_ .details{   
    padding: 10px 10px 5px 10px;
    min-height: 45px;
    width: calc( 100% - 20px);
    
    box-shadow: 0 3px 5px 0 rgba(60,64,67,.302), 0 1px 6px 1px rgba(60,64,67,0.45);
}

[is-mobile="true"]._items_details_ .details .backBtn{   
    margin: 6px 15px 0 5px;
}


[is-mobile="true"]._items_details_ .details img{
    width: 40px;
    height: 40px;
}

[is-mobile="true"]._items_details_ .details .spec .title_text{
    font: 600 21px/26px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #626266;
    transform: translate3d(15vw , 7px,0);
} 

[is-mobile="true"] ._items_details_footer {    
    padding: 15px;
    min-height: 25px;
    background: #fff;    
    width: calc( 100% - 30px );
    display: block;
}

[is-mobile="true"] ._items_details_footer ._total_{    
    font: 600 21px/26px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #626266;
    text-align: right;
    margin-bottom: 15px;
}


[is-mobile="true"]._items_details_ ._items_details_extras{
    min-height: calc( 100vh - 142px);
    max-height: calc( 100vh - 142px);
    padding: 15px 5px 15px 5px;
}


[is-mobile="true"] ._items_details_size ._items_details_size_wrapper {
    min-width: 125px;
}


[is-mobile="true"] ._items_details_size_wrapper h5{
    margin: 0;
    font: 600 17px/21px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}


[is-mobile="true"] ._items_details_size_wrapper img {
    width: 60px;
    height: 60px;
}


[is-mobile="true"] ._add_2_cart_ {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100%);
}


[is-mobile="true"] ._add_2_cart_ ._total_, [is-mobile="true"] ._add_2_cart_ ._label_{
    color: #fff;
    font: 500 17px/21px Roboto,RobotoDraft;
    color: var(--color-base--hover);
}


[is-mobile="true"]  ._title_label_ {
    margin-left: 15px; 
}

[is-mobile="true"]  ._title_label_ h5 {
    font: 600 17px/26px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #5b5b5b;
}

[is-mobile="true"]._items_details_ .details .spec .title_text {
    font: 600 17px/26px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;   
}


[is-mobile="true"] ._add_2_cart_ ._body_{
    min-height: 12px;
    padding: 16px 18px 16px 7px;
    background: var(--calendar--back--color--);
    position: relative;
    box-shadow: 0 3px 5px 0 rgba(60,64,67,.302), 0 1px 6px 1px rgba(60,64,67,0.45);
    display: flex;
}

[is-mobile="true"] ._add_2_cart_.invalid ._body_ {
    background: #dadada;
}

[is-mobile="true"] ._add_2_cart_.invalid ._total_, [is-mobile="true"] ._add_2_cart_.invalid ._label_ {
    color: #5b5b5b;
}

[is-mobile="true"] ._title_label_ {
    display: flex;
    padding: 5px ;
}

[is-mobile="true"] ._title_label_ h5 {
    margin: 0;
}

[is-mobile="true"] ._title_label_ p {
    font: 500 14px/17px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #7c7c7c;
    margin: 5px 12px 0 0;
}

[is-mobile="true"] ._activeSize ._items_details_size_wrapper{
    border: 3px solid var(--color-base--hover);
}

