

.Wxwduf{

  --animation_speed:350ms;
  display: inline-block;
  font-size: 14px;
  padding: 16px 13px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  vertical-align: top;
  white-space: normal;
  width: calc(100% - 35px);
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  height: 12px;
  cursor: text;
  /*
  -webkit-transition: padding var(--animation_speed) cubic-bezier(0.4,0,0.2,1),border var(--animation_speed) cubic-bezier(0.4,0,0.2,1);
  transition: padding var(--animation_speed) cubic-bezier(0.4,0,0.2,1),border var(--animation_speed) cubic-bezier(0.4,0,0.2,1);
  background-color: var(--dropDown--background--color);
  */
}



.Wxwduf .INpyT2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  min-width: 0%;
  position: relative;
  
}






.Wxwduf input{
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    height: 24px;
    line-height: 24px;
    margin: 0;
    width: 100%;
    outline: none;
    padding: 0;
    z-index: 0;
    direction: ltr;
    text-align: left;
    color: var(--tab--nav-Color--);
}

.Wxwduf ._label {
  font-size: 16px;
  /*
  background: var(--dropDown--background--color);

  */
  background-color: #fff;
  bottom: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--tab--nav-Color--);
  left: 8px;
  line-height: 1;
  padding: 0 2px;
  -webkit-transition: transform var(--animation_speed) cubic-bezier(0.4,0,0.2,1),font-size var(--animation_speed) cubic-bezier(0.4,0,0.2,1);
  transition: transform var(--animation_speed) cubic-bezier(0.4,0,0.2,1),font-size var(--animation_speed) cubic-bezier(0.4,0,0.2,1);
  width: auto;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 270px;
  height: 15px;
}

@media (max-width: 720px){
  .INpyT2 ._label {    
    max-width: 230px;
  }
}

