.CircleProgressContainer svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.21s linear;
  stroke: transparent;
  stroke-width: 4px; 
  transform-origin: center;
  
}

.CircleProgressContainer svg{
  transform: rotate(-90deg); 
}

.CircleProgressContainer{
  width: 100%;
  height: 100%;
  position: relative;
}