.__form_group__ .option--wrapper .__body__{
    overflow-y: auto;
}


.__gbItemWrapp__{
    display: flex;
    min-width: 80%;
}


.option--wrapper .__sort_options--.__active .__icons--._rmvFilter__{
    padding: 0 15px;
}